extends ../layout

block header
    title Book Detail - BOOX
    style.
        #addFav, #delFav {
            color: #F44336;
            cursor: pointer;
        }
        .badge a {
            color: #fff;
            font-weight: bold !important;
        }
        .badge {
            font-weight: normal;
        }

mixin min-item(id, key, value)
    dt.col-sm-2= key
    dd.col-sm-10(id=id)= value

block content
    .row
        .col-2
            img#cover.w-100
        .col-10
            #bookInfo
                h2
                    span#title.mr-3
                    if !favorite
                        i#addFav.material-icons favorite_border
                    else
                        i#delFav.material-icons favorite
                p#authors
                dl.row
                    +min-item("categories", "Categories", "")
                    +min-item("publisher", "Publisher", "")
                    +min-item("publishedDate", "Publication Date", "")
                    +min-item("description", "Description", "")
                    dt.col-sm-2 Tags
                    dd#tags.col-sm-10
                        if tagList.length !== 0
                            .d-inline-block.mb-3
                                each tag in tagList
                                    span.badge.badge-pill.badge-info.mr-2(id=tag.tagName) #{tag.tagName}
                                        if tag.delUrl
                                            | &nbsp;&nbsp;
                                            a(href=tag.delUrl) &times
                        form(action="/book/detail" method="GET")
                            input(type="hidden" value=isbn name="isbn")
                            .input-group
                                input.form-control(type='text', required, name="addTag", placeholder="Your tag", aria-label="Add your tag")
                                .input-group-append
                                    button.btn.btn-outline-secondary(type='submit') Add

    #sellerInfo
        table.table.table-hover
            thead
                tr
                    th(scope="col") Seller
                    th(scope="col") Book Condition
                    th(scope="col") Price
                    th(scope="col") Payment Available
                    th(scope="col") Remark
                    th(scope="col") Action
            tbody
                each ele in list
                    tr
                        td: a(href="../user/profile?ID="+ele.sellerID) Seller Info
                        td= ele.bookCondition
                        td= ele.price
                        td= ele.payment
                        td= ele.remark
                        if (userID !== ele.sellerID)
                            td: a(href="../transaction/new/"+ele._id) Buy It Now


    script.
        $(document).ready(function () {

            var ssr = "!{username}";
            console.log(ssr);
            var data = getapi();
            var book = data.items[0].volumeInfo;
            $("#cover").attr("src", book.imageLinks.thumbnail);
            $("#title").text(book.title);
            $("#authors").text(book.authors.join(", "));
            $("#description").text(book.description);
            $("#categories").text(book.categories.join(", "));
            $("#publisher").text(book.publisher);
            $("#publishedDate").text(book.publishedDate);

            var list = !{JSON.stringify(list)};
            var tags = !{JSON.stringify(tagList)};

            console.log("new");
            console.log(tags);

            var url = "http://172.104.175.75:3000/book/detail?isbn=!{isbn}";
            $("#addFav").click(function () {
                url = url + "&addFav=1";
                window.location.href = url;
            });
            $("#delFav").click(function () {
                url = url + "&delFav=1";
                window.location.href = url;
            });
        });

        function getapi() {
            var isbn = "!{isbn}";
            var url = "https://www.googleapis.com/books/v1/volumes?q=isbn:" + isbn;
            var data = $.ajax({
                url: url,
                async: false
            }).responseJSON;
            return data;
        }

